$body-bg: #222;
$body-color: #eee;

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=auto");

html,
body {
  font-family: "Roboto Slab";
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(30, 36, 45, 1) 90%
  );
}

.intro {
  position: absolute;
  top: calc(50% - 120px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  width: 100%;
  opacity: 0.5;
  padding: 0 1rem;

  @media (min-width: 768px) {
    font-size: 4rem;
  }
}

.finish {
  position: absolute;
  top: calc(50% - 120px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  width: 100%;
  padding: 0 1rem;
}

.textarea {
  width: 100%;
  background-color: transparent;
  color: $body-color;
  border: none;
  outline: none;
  resize: none;
}

.progress {
  margin-top: 1rem;
  background-color: rgba(10, 10, 10, 1);
  border: 1px solid $body-color;
  border-radius: 5px;
}

.progress-bar {
  // background: linear-gradient(90deg, rgba(119,224,28,1) 0%, rgba(0,226,255,1) 100%);
  background-color: $body-color;
  border-radius: 5px;
}

h2 {
  font-size: 1.5rem;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

.v-number {
  top: 5px;
  @media (min-width: 768px) {
    top: 8px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
